<footer class="footer">
	<p>Copyright © 2012 NaiRuby</p>
	<p>
	<a href="#" title="Facebook" target="_blank">Facebook</a>&nbsp;&nbsp;<a href="#"title="Twitter" target="_blank">Twitter</a>&nbsp;&nbsp;<a href="" title="LinkedIn" target="_blank">LinkedIn</a>&nbsp;&nbsp;<a href="#" title="Google+" target="_blank">Google+</a>
	</p>
</footer>
