<div class="well sidebar-nav">
    <ul class="nav nav-list">
    	<li class="nav-header"><img src="<%= asset_path( 'ruby_on_rails.png' ) %>" /></li>
      	<li><%= link_to "View calendar", home_calendar_path  %></li>
      	<li><%= link_to "Link", "#"  %></li>
		<hr/>
	</ul>
</div><!--/.well -->