<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>NaiRuby - Ruby user group.</title>
    </head>
    <body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" style="margin-top: 10px; font-family:Arial, Helvetica, sans-serif; background:#F3F3F3;">
        <!--100% body table-->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #F3F3F3;">
            <tr>
                <td>
                    <!--top links-->
                    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="border-bottom:2px solid #F3F3F3;">

                        <tr>
                        </tr>
                        <tr width="650" bgcolor="#FFFFFF" height="100">
                            <td valign="top" width="100" style="padding:15px;" >
                                <img src="http://farm3.staticflickr.com/2850/8753839199_a9e4827c8e_z.jpg" width="100"/>
                            </td>
                        </tr>
                    </table>
                    <!--/top links-->

                    <!--email content-->
                    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="background-color: #ffffff;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="20">
                                    <tr>
                                        <td width="64%" valign="top">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td valign="top">

                                                            <%= yield  %>

                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td height="30"></td>
                                                            </tr>
                                                        </table>
                                                        <table border="0" cellspacing="0" cellpadding="0" align="center">
                                                            <tr>
                                                                <td>
                                                                    <p style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; margin-bottom: 10px; margin-top: 0; padding: 0px; color:#787878; text-align: center; vertical-align:top;"><a href="http://nai-ruby.herokuapp.com" title="nai-ruby.herokuapp.com">nai-ruby.herokuapp.com</a>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                            </table>
                                        </td>

                                    </tr>

                                </table>


                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <!--/email content-->

        <!--bottom links-->
        <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">

            <tr>
            </tr>
        </table>
        <!--/bottom links-->
    </td>
</tr>
</table>
<!--/100% body table-->
</body>
</html>
